<h1>Article#show</h1>

<p><%= @article.title%></p>
<p><%= @article.content%></p>
<p><%= @article.content%></p>
<p><%= @article.content%></p>
<p>Created on the: <%= @article.created_at %></p>
<p>Last update: <%= @article.updated_at %></p>
